<style>
    .contact-capture-container {
        max-width: 600px;
        border-radius: 8px;
        text-align: center;
    }

    .contact-input {
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding:10px;
        float: left;
    }

    .submit-button {
        width:25%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 15px;
    }

    .submit-button:hover {
        background-color: #0056b3;
    }

    .message {
        margin-top: 15px;
        font-weight: bold;
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }

    .message {
        display: none;
    }
</style>
  <div class="contact-capture-container">
    <p><span style="color: #E0A750; font-weight: 600;">Získajte odmenu v podobe zľavy na produkt 2000 Kč</span> a&nbsppodrobnú video prezentáciu o produkte {{ product.title }} ako bonus. Zanechajte nám na seba kontakt a odmena je vaša.</p>
    <div><input 
      type="email" 
      name="contact[email]"
      id="contactInput" 
      class="contact-input" 
      placeholder="Zadajte váš email alebo telefónne číslo"
      required
    >
    <button type="submit" id="submitButton" class="btn btn--secondary btn--sm">
      Odoslať
    </button>
  </div>
  <div style="margin-top: 15px;">
    <p style="font-size: 12px;">Odoslaním súhlasíte so <a href="/pages/gdpr" style="text-decoration: underline;">Spracovaním osobných údajov</a></p>
  </div>
      <div class="message success">Ďakujeme! Váš kontakt sme obdržali a čoskoro sa vám ozveme.</div>
      <div class="message error">Niečo sa pokazilo. Skúste to znova.</div>
  </div>





